<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Stars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
    
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Everything Stars</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/stars" class="nav-link">Stars</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h1> Want to Learn About Stars?<br>
        ************************</h1>
            
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3><br> <br> Stars don’t twinkle</h3>
                <p>Even though you can look outside at night and see the flashing of different levels of light emanating from the same star, what you’re really seeing is interference from the atmosphere making the stars look like they’re twinkling.
                <p><a class="btn btn-primary btn-lg" href="/stars" role="button">Get Star Info</a
                <p>
                </p>
            </div>
            <div class="col-lg-6">
                <h3><br> <br> Stars Produce Light</h3>
                <p>Four hydrogen atoms combine into a helium atom and release energy, which is converted to light.
                </p>
                <img src="https://i.pinimg.com/originals/e8/dd/87/e8dd87a594fbf9ce4470fb899fe5c7e4.gif" alt="Awesome">
                </p>
            </p>
            </div>
            
        </div>
    </div>
</body>

</html>
